* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: radial-gradient(ellipse, #fde7be, #e5c385, #b38f79); }
  body h1 {
    color: #b38f79;
    background-color: #000000; }
  body a:hover {
    color: #b38f79; }

main {
  display: flex;
  flex-direction: column;
  padding-left: 20%;
  padding-right: 20%; }

h1 {
  padding: 20px;
  font-family: "Dancing Script", cursive;
  font-size: 35px;
  width: 225px;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center; }

h2 {
  font-family: "Dancing Script", cursive; }

p {
  background: radial-gradient(ellipse, #fde7be, #e5c385, #b38f79);
  font-family: "Josefin Slab", serif;
  font-size: 24px;
  padding: 10px;
  line-height: 1.6; }
  p h1 {
    color: #b38f79;
    background-color: #000000; }
  p a:hover {
    color: #b38f79; }

.h1m {
  width: 400px; }

.cm {
  width: 300px; }

.top {
  display: flex;
  justify-content: center;
  width: auto; }

.pagi {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto; }

.encuesta {
  background: radial-gradient(ellipse, #fde7be, #e5c385, #b38f79);
  font-family: "Josefin Slab", serif;
  font-size: 24px;
  padding: 5px;
  line-height: 1.6; }
  .encuesta h1 {
    color: #b38f79;
    background-color: #000000; }
  .encuesta a:hover {
    color: #b38f79; }

img:hover {
  opacity: 1;
  border: solid black 2px;
  transform: scale(1.05, 1.05); }

.gridSection {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: grid;
  grid-template-areas: "topTitle" "aside1" "aside2" "aside3" "aside4" "aside5" "aside6" "aside7" "aside8" "aside9" "aside10";
  grid-template-rows: auto;
  column-gap: 1rem;
  row-gap: 1rem; }
  .gridSection .title {
    grid-area: topTitle; }
  .gridSection .aside1 {
    grid-area: aside1;
    width: 100%; }
  .gridSection .aside2 {
    grid-area: aside2;
    width: 100%; }
  .gridSection .aside3 {
    grid-area: aside3;
    width: 100%; }
  .gridSection .aside4 {
    grid-area: aside4;
    width: 100%; }
  .gridSection .aside5 {
    grid-area: aside5;
    width: 100%; }
  .gridSection .aside6 {
    grid-area: aside6;
    width: 100%; }
  .gridSection .aside7 {
    grid-area: aside7;
    width: 100%; }
  .gridSection .aside8 {
    grid-area: aside8;
    width: 100%; }
  .gridSection .aside9 {
    grid-area: aside9;
    width: 100%; }
  .gridSection .aside10 {
    grid-area: aside10;
    width: 100%; }

ul {
  display: flex;
  width: 100%;
  list-style: none;
  background-color: #000000;
  font-size: 0; }
  ul li {
    display: inline-block;
    width: 20%;
    position: relative;
    font-size: 30px; }
  ul a {
    text-decoration: none;
    color: white;
    font-family: "Dancing Script", cursive;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    ul a a:hover {
      color: #e5c385; }

.paginationLink {
  position: relative;
  color: white;
  text-decoration: none;
  background-color: black;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }
  .paginationLink .paginationLink:hover {
    color: #e5c385; }

@media only screen and (max-width: 600px) {
  ul {
    flex-direction: column;
    align-items: center;
    height: 100%; }
    ul li {
      padding: 0.5rem; }
  img {
    border: 2px double grey; }
  .gridSection {
    padding-top: 4rem;
    display: grid;
    grid-template-areas: "topTitle" "aside1" "aside2" "aside3" "aside4" "aside5" "aside6" "aside7" "aside8" "aside9" "aside10";
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
    row-gap: 1rem; }
  .top {
    display: flex;
    justify-content: center;
    width: auto;
    margin-left: 150px;
    margin-right: 150px; } }

@media only screen and (min-width: 601px) {
  ul {
    align-items: center;
    height: 4rem;
    font-size: 0; }
  img {
    height: 100%;
    border: 2px double grey; }
  .gridSection {
    padding-top: 2rem;
    display: grid;
    grid-template-areas: "topTitle topTitle" "aside1 aside2" "aside3 aside4" "aside5 aside6" "aside7 aside8" "aside9 aside10";
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1rem; }
  .top {
    display: flex;
    justify-content: center;
    width: auto;
    margin-left: 200px;
    margin-right: 200px; }
  .pagi {
    display: flex;
    justify-content: center;
    width: auto;
    margin-left: 200px;
    margin-right: 200px; } }

@media only screen and (min-width: 1200px) {
  .top {
    display: flex;
    justify-content: center;
    width: auto;
    margin-left: 600px;
    margin-right: 600px; }
  .pagi {
    display: flex;
    justify-content: center;
    width: auto;
    margin-left: 400px;
    margin-right: 400px; } }
